<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=0.5" />
		<link rel="icon" href="/img/youtube-icon.ico" />
		<title>Download quality options</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
			integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
			crossorigin="anonymous"
		/>
		<script
			src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"
		></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"
		></script>
		<style>
			/* The Modal (background) */
			.modal {
				display: none; /* Hidden by default */
				position: fixed; /* Stay in place */
				z-index: 1; /* Sit on top */
				padding-top: 100px; /* Location of the box */
				left: 0;
				top: 0;
				width: 100%; /* Full width */
				height: 100%; /* Full height */
				overflow: auto; /* Enable scroll if needed */
				background-color: rgb(0, 0, 0); /* Fallback color */
				background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
			}

			/* Modal Content */
			.modal-content {
				background-color: #fefefe;
				margin: auto;
				padding: 20px;
				border: 1px solid #888;
				min-width: 500px;
				max-width: fit-content;
			}
		</style>
		<script>
			// Wait for content to load
			document.addEventListener('DOMContentLoaded', function (event) {
				// JS script
				document.getElementById('videoqualitydownload').addEventListener('click', async (event) => {
					window.onbeforeunload = function () {
						return 'Download is in progress, are you sure you want to leave?';
					};
					event.preventDefault();
					const selecturl = window.location.href;
					const baseurl = window.location.origin;
					const videoItag = document.getElementById('video-quality') ? document.getElementById('video-quality').value : null;
					function wait(ms) {
						return new Promise((resolve) => setTimeout(resolve, ms));
					}

					// Hide the download button when downloading
					if (document.getElementById('video-quality')) document.getElementById('video-quality').style.display = 'none';
					document.getElementById('videoqualitydownload').style.display = 'none';

					const uid = Date.now().toString(36) + Math.random().toString(36).substr(2);

					// Get download data
					fetch(`${selecturl}&videoItag=${videoItag}&dl=true&uid=${uid}`, {
						method: 'GET'
					});

					let data2;
					// Open the progress bar modal
					document.getElementById('myModal').style.display = 'block';

					// Loop progressbar until download complete
					let progressloop = true;
					while (progressloop) {
						const response2 = await fetch(`${baseurl}/download/progress?uid=${uid}`, {
							method: 'GET'
						});
						data2 = await response2.json();

						if (data2.progress.startsWith('Done')) {
							progressloop = false;
							document.getElementById('download-progress-bar').innerText = 'Download Complete!';
						} else {
							document.getElementById('download-progress-bar').innerText = data2.progress;
						}
						wait(100);
					}

					window.onbeforeunload = null;

					// Download file and redirect back to home page
					var newWin = window.open(`${baseurl}/download/download?file=${data2.progress.slice(5)}`);

					if (!newWin || newWin.closed || typeof newWin.closed == 'undefined') {
						//POPUP BLOCKED
						alert('Please allow popups for this website to download the file. Refresh the page after allowing popups.');
					}
					window.location.href = `/`;
				});
			});
		</script>
	</head>
	<body>
		<%- include("partials/header") %>
		<div class="container my-5">
			<h1>Previewing: <%= title%></h1>
			<div class="container" style="padding-top: 56.25%; position: relative; width: 100%">
				<iframe class="d-flex" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%" src="<%= url %>"> </iframe>
			</div>
			<div class="container">
				<% if (videoSelect == 'on') { %>
				<div class="selectdiv">
					<table id="center">
						<tr>
							<td>
								<select id="video-quality">
									<%for (i in videoFormats) { let video = videoFormats[i];%>
									<option value="<%=video.itag%>">
										bitrate: <%=video.bitrate%>bps | <%=video.container%>(<%=video.videoCodec.split('.')[0]%>) | <%=video.qualityLabel%>
									</option>
									<%}%>
								</select>
							</td>

							<td style="padding-left: 30px">
								<button class="search-download-button" id="videoqualitydownload" style="float: right !important">Download</button>
							</td>
						</tr>
						<tr></tr>
					</table>
				</div>
				<% } else {%>
				<br />
				<button class="search-download-button" id="videoqualitydownload" style="float: right !important">Download</button>
				<% } %>
				<!-- The Modal -->
				<div id="myModal" class="modal">
					<!-- Modal content -->
					<div class="modal-content">
						<div class="modal-header">
							<h4>Downloading...</h4>
						</div>
						<hr />
						<div class="modal-body" id="download-progress-bar"></div>
					</div>
				</div>
				<link rel="stylesheet" type="text/css" href="/css/dropdown.css" />
			</div>
		</div>
		<link rel="stylesheet" href="/css/styles.css" />
	</body>
</html>
