<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
		<meta name="viewport" content="width=device-width, initial-scale=0.5" />
		<link rel="icon" href="/img/youtube-icon.ico" />
		<title>Search</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
			crossorigin="anonymous"
		/>
	</head>
	<body id="body">
		<%- include("partials/header") %>
		<div class="container my-5" style="padding-bottom: 30px">
			<!-- Main content -->
			<table id="result-table">
				<tbody>
					<% function convertNum(num) { let result; if (num >= 1000000) { result = (num / 1000000).toFixed(1) + 'M'; } else if (num >= 1000) { result
					= (num / 1000).toFixed(1) + 'K'; } else { result = num.toString(); } return result.replace('.0', ''); } %> <% for (var i in results) { %>
					<tr id="search-table">
						<td class="thumbnail">
							<div class="thumbnail-container">
								<a href="download?url=<%=results[i].url %>&audio=<%= audio %>&video=<%= video %>">
									<img src="<%= results[i].thumbnail %>" alt="<%= results[i].title %>" />
									<div class="thumbnail-overlay">
										<p class="thumbnail-timestamp"><%= results[i].timestamp %></p>
									</div>
								</a>
							</div>
						</td>
						<td style="vertical-align: top">
							<div>
								<a href="download?url=<%=results[i].url %>&audio=<%= audio %>&video=<%= video %>" style="text-decoration: none">
									<p class="title" style="font-weight: bold; font-size: 1.3rem; margin-bottom: 2px; color: white"><%= results[i].title %></p>
								</a>
								<p style="font-size: 0.9rem; color: #aaaaaa"><%= String(convertNum(results[i].viewCount)) %> views • <%= results[i].uploadDate %></p>
								<p style="font-size: 0.9rem; margin-bottom: 5px">
                                    <table>
                                        <td style="padding: 0">
                                            <a href="https://www.youtube.com/channel/<%= results[i].channel.id %>" style="text-decoration: none; color: white">
                                                <img
											src="<%= results[i].channel.thumbnails[0].url %>"
											alt="<%= results[i].channel.name %>"
											style="border-radius: 50%; height: 28px; margin-right: 3px"
										/>
                                            </a>
                                        </td>
                                        <td style="vertical-align: middle; padding-left: 0px;">
                                            <a href="https://www.youtube.com/channel/<%= results[i].channel.id %>" style="text-decoration: none; color: white">
                                                <div style="margin: 0 0 0 4px;display:flex">
                                                    <div style="overflow: hidden;max-width: 300px;text-overflow: ellipsis;font-size: 1rem"><%= results[i].channel.name %></div><% if (results[i].verified) { %><div style="width: 16px; height: 16px; fill: currentcolor; align-self: center; padding-left:3px;"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;"><path d="M12 2C6.5 2 2 6.5 2 12s4.5 10 10 10 10-4.5 10-10S17.5 2 12 2zM9.8 17.3l-4.2-4.1L7 11.8l2.8 2.7L17 7.4l1.4 1.4-8.6 8.5z"></path></svg></div><% } %>
                                                </div>
                                            </a>
                                        </td>
                                    </table>
								</p>
								<p class="description"><%= results[i].description %></p>
							</div>
						</td>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div>
		<link rel="stylesheet" href="/css/styles.css" />
		<link rel="stylesheet" href="/css/search.css" />
	</body>
	<script>
		document.title = `${url} - Search`;
	</script>
</html>
